# comments
folder4/* @snippets-n-memes/memers
folder1 @snippets-n-memes/fishdank
folder2 @snippets-n-memes/fishdank
*3 @snippets-n-memes/fishdank
newfile @snippets-n-memes/fishdank
.github @snippets-n-memes/fishdank
**/test @snippets-n-memes/memers
